*{
    margin:0;
    padding: 0;
}
/* Swiper Top */
.swiper {
    width: 100%;
    height: 40px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* DropDown Button */
 
  /* .social_icon{
    
  } */
  .social_icon a{
    margin-right: 4px;
    font-size: 20px;
    color: white;
  }

  .top_nav{
    background-color: #282828;
    color:white;
    height: 37px;
  }

  .top_nav ul li{
    list-style-type: none;
    display: inline-block;
  }

  .top_nav ul li a{
    text-decoration: none;
  }
  .top_nav ul li button{
    border: none;
    color: white;
  }

.top_nav .mySwiper{
  color:rgb(182, 175, 175);
}
.top_nav .account_Currency{
  padding-top: 3px;
}
.top_nav .account_Currency a{
  color:white;
}

.top_nav .dropdown-menu{
  background-color: rgb(255, 254, 254);
  margin-top: 10px;
  
}
.top_nav .dropdown-item{
  color:black
}
.top_nav .offcanvas button{
  outline: none;
  border: none;
  background-color: white;
  font-size: 17px;
  font-weight: 600;
}
.top_nav .offcanvas-body a{
  color:#282828;
  text-decoration: none;
  padding: 6px;
  font-size: 17px;
}
.top_nav .offcanvas-body a i{
  margin-left:4px;
}
.top_nav form button{
  padding: 12px 80px;
  color: white;
  border-radius: 7px;
  margin-top: 21px;
  background-color: #17C6AA !important;
  float: right;
}
.top_nav form input{
  width: 340px;
  padding: 14px;
}

/* navbar Menu */
.nav-item a{
  color: rgb(214, 206, 206);
}
.dropdown-large{
  padding:1rem; 
  min-width:300px;
}
.dropdown-full{
  padding:1rem;
  min-width: 500px;
}
.navbar{
font-size: 18px;
}

/* Modal Body Search */
.modal-body{
  text-align: center;
  align-items: center;

}
.modal-body form{
  position: relative;
  width: 700px;
}
.modal-body button{
  font-size: 26px;
}
.modal-body form input{
  position: absolute;
  top:-10px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  padding: 8px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 1px solid gray;
  outline: none;
}
.nav_button .btn{
  outline: none;
  border: none;
  font-size: 23px;
  color: rgb(214, 206, 206);
}

/* toggle Button */

.toggle_btn{
  margin-top: 1px;
  margin-right: 5px;
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  overflow: hidden;
}
.toggle_btn span{
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #1ABC9C;
  border-radius: 4px;
  transition: 0.5s;
  left:17px;
}
.toggle_btn span:nth-child(1){
  transform: translateY(-8px);
  width: 25px;
  background-color: rgb(27, 27, 36);
  left:12px;
}

.toggle_btn span:nth-child(2){
  transform: translateY(8px);
  width: 25px;
  left:12px;
  background-color: rgb(27, 27, 36);
}
.toggle_btn.active span:nth-child(3){
  transform: translateX(30px);
}

.toggle_btn.active span:nth-child(1){
  width: 30px;
  transform: translateY(0px) rotate(45deg);
}

.toggle_btn.active span:nth-child(2){
  width: 30px;
  transform: translateY(0px) rotate(315deg);
}

.menu_canvas ul li a:hover{
  color: #FD9678;
  transition: 0.3s;
}
.menu_canvas{
  margin:0;
  padding: 0;
}
.menu_canvas ul li{
  list-style-type: none;
  border-bottom:1px solid rgb(233, 233, 233);
  padding-top: 12px;
  padding-bottom: 12px;
}
.menu_canvas ul li a{
  text-decoration: none;
  margin: 0 !important;
  padding: 0 !important;
  color: rgb(61, 59, 59);
  font-size: 17px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.wrap_nav{
  background-image: url(/img/header-tshirts-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 300px;
  margin: 0;
  padding-bottom: 10%;
  width: 100%;
}
/* banner */
.banner{

}
.banner_img{
  overflow: hidden;
}
.banner_img img{
  width: calc(100% + 1px);
  vertical-align: top;
  transform: scale(1.1) rotate(0.001deg);
  transition: 0.5s;
}
.banner_img img:hover{
  transform: scale(1);
  transition: 0.5s;
}
.category img{
  width: 100%;
}
.categoryProduct{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 400px;
}
.categoryProduct>div{
  width: 30%;
  height: 50%;
}
.categoryProduct>div:nth-child(1),.categoryProduct>div:nth-child(4),.categoryProduct>div:nth-child(5){
  width: 70%;
}
.categoryProduct>div:nth-child(2),.categoryProduct>div:nth-child(3),.categoryProduct>div:nth-child(6){
  width: 30%;
}
.categoryProduct .product{
  position: relative;
}
.categoryProduct .product img{
  position: absolute;
  height: 100%;
}
.categoryProduct2{
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 400px;
  flex-wrap: wrap;
}
.categoryProduct2>div{
  height: 50%;
  width: 100%;
}
.categoryProduct2>div:nth-child(2){
  margin-bottom: 0px;
}
.categoryProduct2 .product{
  position: relative;
}
.categoryProduct2 .product img{
  position: absolute;
  height: 100%;
}

.categoryProduct2>div:nth-child(1){
  height: 100%;
}

